.teamLogo {
  height: 30px;
  width: 30px;
  margin-right: 0;
}

.form-check {
  margin: 30px;
}

#cancel {
  background: none;
  margin-top: 20px;
  border: none;
}

#cancel:hover {
  cursor: pointer;
}

#team {
  color: #2c2c2c;
  margin-right: 20px;
}

div.add-button {
  margin-top: 10px;
  display: flex;
}

#addTeam {
  outline: none;
  color: rgb(9, 134, 206);
  /* border-radius: 50%; */
  border: none;
  padding: 15px;
  margin-bottom: 20px;
  width: auto;
}

#addTeam:hover {
  cursor: pointer;
  border-bottom: 5px solid #2c2c2c;
}

#leagues {
  font-size: 25px;
  display: flex;
  width: 100%;
  /* justify-content: space-between; */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
}

.submitButton {
  text-align: center;
  margin-top: 30px;
}

.league h2 {
  text-align: center;
}

.form-teams {
  width: 100%;
  /* text-align: center; */
}

.form-check {
  display: flex;
  align-content: center;
}

input.form-check-input.input {
  font-size: 30px;
}

label {
  display: flex;
  position: relative;
  font-size: 20px;
  margin: 10px;
}

.saveButton {
  /* background: none; */
  border: none;
  outline: none;
  width: auto;
  color: rgb(9, 134, 206);
  font-weight: bold;
  padding: 0;
  height: 50px;
  font-size: 30px;
  margin: 30px 0;
}

.saveButton:hover {
  border-bottom: 5px solid #2c2c2c;
  cursor: pointer;
  /* border-radius: 10px; */
}

@media only screen and (max-width: 400px) {
  .teamLogo {
    height: 20px;
    width: 20px;
  }

  .saveButton {
    font-size: 10px;
  }
}

@media only screen and (max-width: 900px) {
  .form-check {
    justify-self: center;
  }

  .saveButton {
    font-size: 20px;
  }
}
