#middleDisplay {
  margin-bottom: 80px;
}

#middleDescription {
  margin-top: 100px;
  text-align: center;
  font-size: 18px;
  color: #2c2c2c;
}

.teamExContainer {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  justify-content: center;
  margin-bottom: 70px;
  list-style: none;
}

.teamEx {
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: center;
}

button#getStarted {
  outline: none;
  color: rgb(9, 134, 206);
  font-size: 20px;
  padding: 30px;
  border: none;
  width: auto;
  display: block;
  margin: auto;
  margin-top: 20px;
  cursor: pointer;
}

button#getStarted:hover {
  /* border-radius: 20px; */
  color: rgb(9, 134, 206);
  border-bottom: 5px solid #031e47;
}

@media only screen and (max-width: 950px) {
  #middleDescription {
    text-align: center;
    margin-top: 80px;
    font-size: 16px;
  }

  .teamEx {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 500px) {
  #middleDisplay {
    margin: 10px;
    margin-top: 0;
  }
}
